<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
</head>
<body>
    <h2>ADMIN DATA</h2>
    <h4>Length : <%= result.length %> </h4>
    <% if (Array.isArray(result) && result.length) { %>
        <% result.forEach((el, index) => { %>
            <h4><%= index + 1 %>. _id : <%= el._id %>  </h4>
            <p>type : <%= el.type %>  </p>
            <p>no_hp : <%= el.no_hp %>  </p>
            <p>nama : <%= el.nama %>  </p>
            <% if (el.password !== null) { %>
                <p>password : <%= Buffer.from(el.password, 'hex').toString('utf8') %> </p>
            <% } else { %>
                <p>password : <%= el.password %> </p>
            <% } %>
            <% if (el.profile !== null) { %>
                <p>profile (hex) : <%= el.profile.substring(0,8) %>...  </p>
            <% } else { %>
                <p>profile : <%= el.profile %> </p>
            <% } %>
            <br>
        <% }); %> 
    <% } else { %>
        <p>Data Not Found</p>
    <% } %>
</body>
</html>